@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* Gradients */
  .topChooseCourse {
    background: linear-gradient(230deg, #dfeafd 0%, #fbebef 100%);
  }
  .statistic-gradient {
    background: linear-gradient(202deg, #eff5fe 0%, #fcf5f7 100%);
  }

  .how-to-sign {
    background: linear-gradient(239deg, #dfeafd 0%, #fbebef 100%);
  }

  .how-to-sign-card {
    background: linear-gradient(256deg, #dfeafd 0%, #fbebef 100%);
  }

  .teachers-skills-border {
    background: linear-gradient(228deg, #dfeafd 0%, #fbebef 100%);
  }

  .contacts-gradient {
    background: linear-gradient(234deg, #dfeafd 0%, #fbebef 100%);
  }

  .subscribe-action {
    background: linear-gradient(54deg, #cf5657 0%, #8b3d70 100%);
  }

  .subscribe-action-btn {
    background: linear-gradient(75deg, #ee7b40 0%, #cf5657 100%);
  }

  .program_duration {
    background: linear-gradient(84deg, #cf5657 0%, #8b3d70 100%);
  }

  .how-we-learn {
    background: linear-gradient(265deg, #dfeafd 0%, #fbebef 100%);
  }

  .youtube_link {
    background: linear-gradient(269deg, #dfeafd 0%, #fbebef 100%);
  }

  .teenagers_top {
    background: linear-gradient(269deg, #fbebef 0%, #dfeafd 100%);
  }

  .due_card {
    background: linear-gradient(89deg, #cf5657 0%, #ee7b40 100%);
    border-radius: 0px 6px 0px 14px;
    -webkit-border-radius: 0px 6px 0px 14px;
    -moz-border-radius: 0px 6px 0px 14px;
    -ms-border-radius: 0px 6px 0px 14px;
    -o-border-radius: 0px 6px 0px 14px;
  }

  /* Customize the track style */
  .react-custom-scrollbars-track {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .react-custom-scrollbars-track-horizontal {
    background-color: rgba(0, 0, 0, 0.1);
    height: 6px;
    border-radius: 3px;
  }

  .react-custom-scrollbars-track-horizontal:hover {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground mx-auto box-border;
  }
  html {
    scroll-behavior: smooth;
  }
}
